[Unit]
Description=FW Cycle Monitor Remote Supervisor API
After=network.target

[Service]
Type=simple
Environment=FW_CYCLE_MONITOR_CONFIG_DIR=/etc/fw-cycle-monitor
WorkingDirectory=/opt/fw-cycle-monitor
ExecStart=/opt/fw-cycle-monitor/.venv/bin/python -m fw_cycle_monitor.remote_supervisor.server --reload-settings
User=fwmonitor
Group=fwmonitor
SupplementaryGroups=gpio
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
